<br><%= link_to '貸せるものを登録する', new_rental_path %><br>

<ul>
    <% @rentals.each do |e| %>
    <li>
        <%= e.name %>
        ¥<%= e.cost %>
        <%= e.term %>
        <%= link_to '詳細', rental_path(e) %>
        <%= link_to '編集', edit_rental_path(e) %>
        <%= link_to '削除', rental_path(e), method: :delete, data: {confirm: "削除しますか？"} %>
    </li>
    <% end %>
</ul>